@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
    }
<head>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<h1>Box Inventory</h1>
<div>
    @Html.ActionLink("Create", "Create", "Box", null, new { @class = "btn", @id = "alertButton" })
</div>
    <b>Search By:</b>
@using (Html.BeginForm("Index", "Box", FormMethod.Get))
{
    @Html.RadioButton("searchBy", "All", true) <text> Show All </text>
    @Html.RadioButton("searchBy", "Cost", true) <text> Cost </text>
    @Html.RadioButton("searchBy", "Weight", true) <text> Weight </text>
    @Html.RadioButton("searchBy", "Volume", true) <text> Volume </text>
    @Html.RadioButton("searchBy", "InventoryCount", true) <text> Number in Inventory </text>
    @Html.RadioButton("searchBy", "hasLiquid", true) <text> Can Hold Liquid </text>
    @Html.RadioButton("searchBy", "noLiquid", true) <text> Can Not Hold Liquid </text>
    <br />
    <input type = "number" name = "search" step="any"/> <input type="submit" value="Search" />
}
<table class="table">
    <tr style="color: #4ABDAC">
        <th>
            Weight
        </th>
        <th>
            Volume
        </th>
        <th>
            Number in Inventory
        </th>
        <th>
            Can Hold Liquid
        </th>
        <th>
            Cost
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanHoldLiquid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </td>
    </tr>
    }
</table>
