@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<div>
    <h1>Box Inventory System</h1>
</div>

<div style="background-color:#FC4A1A; width:100%; height:1.5px; margin-bottom:8px">
    <p></p>
</div>

<b style="color:#4ABDAC">Search Boxes By:</b>
@using (Html.BeginForm("Index", "Box", FormMethod.Get))
{
    <p>@Html.RadioButton("searchBy", "All", true) Show All</p>
    
    <p>
        @Html.RadioButton("searchBy", "Cost", true) Cost
        @Html.RadioButton("searchBy", "Weight", true) Weight
        @Html.RadioButton("searchBy", "Volume", true) Volume
    </p>
    <p>
        @Html.RadioButton("searchBy", "InventoryCount", true) Number in Inventory
    </p>
    <p>
        @Html.RadioButton("searchBy", "hasLiquid", true) Can Hold Liquid
        @Html.RadioButton("searchBy", "noLiquid", true) Cannot Hold Liquid
    </p>

    <div class="row">
        <div class="col-md-6">
            <input id="searchBox" class="btn" type="number" name="search" step="any" /> <input type="submit" value="Search" class="btn" id="searchButton" />
        </div>
        <div class="col-md-6" style="text-align:right">
            @Html.ActionLink("New Box Entry", "Create", "Box", null, new { @class = "btn", @id = "alertButton" })
        </div>
    </div>
}
<table class="table" style="margin-top:5px">
    <tr style="color: #4ABDAC">
        <th>
            Weight
        </th>
        <th>
            Volume
        </th>
        <th>
            Number in Inventory
        </th>
        <th>
            Can Hold Liquid
        </th>
        <th>
            Cost
        </th>
        <th>
            Date Recieved
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanHoldLiquid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>
